@model PMSWebApplication.Models.DomainModels.Payment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayDiscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDiscription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
