@model PMSWebApplication.Models.DomainModels.Task

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskStages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskStages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskWisePayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskWisePayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
